DJANGO_SECRET_KEY=gere-uma-chave-longa-e-aleatoria
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=agenda.pythonanywhere.com
DJANGO_CSRF_TRUSTED_ORIGINS=https://agenda.pythonanywhere.com
DJANGO_SECURE_SSL_REDIRECT=True
DJANGO_SECURE_HSTS_SECONDS=31536000
AGENDA_OWNER_EMAIL=andernet@gmail.com
AGENDA_ALLOWED_EMAILS=andernet@gmail.com,eo.nathaliamaro@gmail.com
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
GOOGLE_FAMILY_CALENDAR_ID=
GOOGLE_CALENDAR_SYNC_ENABLED=False
